<div class="row news">
  <div class="col-md-2">
    <img class="img img-responsive" src="../../assets/images/news-1.png" alt="no-image" />
  </div>
  <div class="col-md-10">
    <div class="row">
      <h2 class="padding-left-20">Heading</h2>
    </div>
    <div class="row">
      <p class="padding-left-20">Content</p>
    </div>
  </div>
</div>