<div class="row bg-green navigationPanel">
  <div class="col-md-2">
    <a>FIDELITY CRYPTOCURRENCY WALLET</a>
  </div>
  <div class="col-md-2">
    <a [routerLink]="['/summary']">Summary</a>
  </div>
  <div class="col-md-2">
    <a>CUSTOMER SERVICE</a>
  </div>
  <div class="col-md-2">
    <a>OPEN AN ACCOUNT</a>
  </div>
  <div class="col-md-1">
    <a>LOGIN</a>
  </div>
  <div class="col-md-1">
    <a>REFER A FRIEND</a>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="container">
      <form id="loginForm" [formGroup]="loginForm" #formDir="ngForm">
        <div *ngIf="error" class="alert alert-danger" id="errormsg">{{error}}</div>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" formControlName="email" required minlength="8" id="exampleInputEmail1" placeholder="Email"
            name="email">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email is required.
            </div>
            <div *ngIf="email.errors.minlength">
              Email must be at least 8 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" formControlName="password" required minlength="4" id="exampleInputPassword1"
            placeholder="Password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors.required">
              Password is required.
            </div>
            <div *ngIf="email.errors.minlength">
              Password must be at least 4 characters long.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-default blue " [disabled]="!loginForm.valid" (click)="onSubmit()">Log In</button>
        <br>
        <button class="btn btn-default orange" (click)="registerRedirect()">Open an Account</button>
      </form>
    </div>
  </div>
  <div class="col-md-9">
    <h4 class="newsHeading">Todays News</h4>
    <div class="newsContainer">
      <app-news></app-news>
      <app-news></app-news>
      <app-news></app-news>
      <app-news></app-news>
      <app-news></app-news>
    </div>
  </div>
</div>