<div class="container">

  <h1>Register Form</h1>

  <form [formGroup]="heroForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="form-group">

        <label for="firstname">First Name</label>
        <input id="firstname" class="form-control" formControlName="firstname" required>

        <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="alert alert-danger">

          <div *ngIf="firstname.errors.required">
            firstname is required.
          </div>
          <div *ngIf="firstname.errors.minlength">
            firstname must be at least 4 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">

        <label for="lastname">Last Name</label>
        <input id="lastname" class="form-control" formControlName="lastname" required>

        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="alert alert-danger">

          <div *ngIf="lastname.errors.required">
            lastname is required.
          </div>
          <div *ngIf="lastname.errors.minlength">
            lastname must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="form-group">

        <label for="email">Last Name</label>
        <input id="email" class="form-control" formControlName="email" required>
        <span *ngIf="myForm.hasError('email', 'email') && myForm.get('email').touched">
          Please enter the correct email, this email not valid.
        </span>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

          <div *ngIf="email.errors.required">
            email is required.
          </div>
          <div *ngIf="email.errors.minlength">
            email must be at least 4 characters long.
          </div>
        </div>
      </div>

      <div class="form-group">

        <label for="password">Password</label>
        <input id="email" class="form-control" formControlName="email" required>
        <span *ngIf="myForm.hasError('email', 'email') && myForm.get('email').touched">
          Please enter the correct email, this email not valid.
        </span>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

          <div *ngIf="email.errors.required">
            email is required.
          </div>
          <div *ngIf="email.errors.minlength">
            email must be at least 4 characters long.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="heroForm.invalid">Submit</button>
      <button type="button" class="btn btn-default" (click)="formDir.resetForm({})">Reset</button>
    </div>
  </form>

  <div class="submitted-message" *ngIf="formDir.submitted">
    <p>You've submitted your hero, {{ heroForm.value.name }}!</p>
    <button (click)="formDir.resetForm({})">Add new hero</button>
  </div>
</div>


<!-- 
    Copyright 2017-2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license
    -->